@page
@model GoldPriceFilteredModel
@{
    ViewData["Title"] = "Filtered data";
}
<h1>@ViewData["Title"]</h1>

    @foreach(var goldPrice in Model.GoldPrices)
    {
        <p>The price of the gold at @goldPrice.Date was @goldPrice.Price PLN</p>
    }