################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GoldPrices/obj
/GoldPrices/bin/Debug/netcoreapp3.1
/GoldPrices.ClassLibrary/bin/Debug/netcoreapp3.1
/GoldPrices.ClassLibrary/obj
/GoldPrices.Desktop/obj
/UnitTestsDemo/.vs/ClassLibrary1
/UnitTestsDemo/ClassLibrary1/bin/Debug/netcoreapp3.1
/UnitTestsDemo/ClassLibrary1/obj
/UnitTestsDemo/TestProject1/bin/Debug/netcoreapp3.1
/UnitTestsDemo/TestProject1/obj
/GoldPrices.Desktop/bin/Debug/netcoreapp3.1
