################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GoldPrices/obj
/GoldPrices/bin/Debug/netcoreapp3.1
/GoldPrices.ClassLibrary/bin/Debug/netcoreapp3.1
/GoldPrices.ClassLibrary/obj
